export(classic.wordscores,wordfish,initialize.urfish,sim.wordfish,wfm,as.wfm,is.wfm,as.docword,as.worddoc,wordmargin,trim,wordfreqj,bootstrap.se,rescale,words,docs,wfm2bmr,wfm2lda,getdocs)
S3method(print, wordfish)
S3method(print, summary.wordfish)
S3method(print, coef.wordfish)
S3method(summary, wordfish)
S3method(summary, classic.wordscores)
S3method(predict, wordfish)
S3method(predict, classic.wordscores)
S3method(fitted, wordfish)
S3method(coef, wordfish)
S3method(coef, classic.wordscores)
S3method(plot, wordfish)
S3method(plot, classic.wordscores)
S3method(plot, coef.wordfish)
